/******************************************************
GENERAL RULES
******************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}


/******************************************************
lAYOUT CLASSES
******************************************************/

.container{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.col{
    width: 100%;
}

.content{
    margin: 20px 0;
}


/*
NAVBAR SECTION
*/

.navbar .col{
    width: 50%;
}

/******************************************************
UTILITY CLASSES
******************************************************/

.m-updown-20{
    margin: 20px 0;
}

.m-b-20{
    margin-bottom: 20px;
}


/******************************************************
STYLING CLASSES
******************************************************/

.col{
    border: 2px dashed black;
    background-color: pink;
    height: 100px;
}


/******************************************************
RESPONSIVENESS
******************************************************/

