/******************************************************
GENERAL RULES
******************************************************/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

ul{
    list-style: none;
}

/******************************************************
lAYOUT CLASSES
******************************************************/

.container{
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.col{
    width: 100%;
    padding: 20px;
}

.content{
    margin: 20px 0;
}


    /*
    NAVBAR SECTION
    */

.navbar .col{
    width: 40%;
    padding: 20px 30px;
}

.navbar .col-60{
    width: 60%;
    padding: 20px 30px;
}

.navbar .content{
    margin: 0;
}

.navbar .row{
    padding: 0;
}

.navbar i{
    font-size: 28px;
    margin-top: 5px;
}

.nav-menu-config-dskt{
    display: none;
    margin-top: 5px;
}

ul{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    align-items: center;
}

li{
    margin-right: 15px;
}

    /*
    FUNCTION SECTION
    */

.card{
    text-align: center;
    padding: 25px;
}

.special{
    padding: 25px 25px 0 25px;
    display: flex;
    flex-wrap:wrap;
}

.card img{
    width: 100%;
}

/******************************************************
UTILITY CLASSES
******************************************************/

.m-updown-20{
    margin: 20px 0;
}

.m-b-20{
    margin-bottom: 20px;
}

d.flex{
    display: flex;
}

.flex-end{
    display: flex;
    justify-content: end;
}

.no-margin{
    margin:0;
}

.m-r-10{
    margin-right: 10px;
}

.flex-center{
    justify-content: center;
}

/******************************************************
STYLING CLASSES
******************************************************/

.col{
    border: 2px dashed black;
}

.col-60{
    border: 2px dashed black;
}

    /*
    GENERAL STYLES 
    */

.btn-config{
    padding: 8px 12px;
    border-radius: 20px;
    border: none;
}

    /*
    NAVBAR SECTION
    */

.navbar{
    background-color: #1d92f2;
}

.navbar i{
    color: white;
}

.navbar a{
    text-decoration: none;
    color:white;
}

    /*
    FUNCTION SECTION
    */

.card{
    background-color:#c1dbf0;
    border-radius: 20px;
}

.card h2{
    color: #1d92f2;
    margin-bottom: 30px;
}

.card p{
    color: #3a6e99;
    margin-bottom: 30px;
    line-height: 35px;
}

.card .btn-config{
    background-color: #1d92f2;
    padding: 10px 100px;
    color: white;
    margin-bottom: 30px;
    font-weight: bold;
    position: relative;
}

.phone-img{
    position: absolute;
    
}

.icon-card-config{
    color: #1d92f2;
    font-size: 80px;
    margin-bottom: 30px;
}


/******************************************************
RESPONSIVENESS
******************************************************/

/*--------------------->
TABLET RESPONSIVNESS CONFIG (768PX)
<--------------------*/

@media screen and (min-width: 768px) {
    
    .container{
        width: 100%;
    }

    /*
    FUNCTION SECTION
    */

    .function .col{
        width: calc(100% / 3);
    }

    .function .col-double{
        width: calc(100% / 3 * 2)
    }

    /*
    BENEFITS SECTION
    */

    .benefits .col{
        width: 50%;
    }
}

/*--------------------->
DESKTOP RESPONSIVNESS CONFIG (1140PX)
<--------------------*/

@media screen and (min-width: 1140px) {

    .container{
        max-width: 75%;
        margin: 0 auto;
    }

    /*
    NAVBAR SECTION
    */

    .nav-menu-config-mbl{
        display: none;
    }

    .nav-menu-config-dskt{
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
    }
    
    /*
    PLANNING SECTION
    */

    .planning .container{
        max-width: 60%;
        margin: 0 auto;
    }

    /*
    ABOUT US SECTION
    */

    .about-us .container{
        max-width: 70%;
        margin: 0 auto;
    }
}